body {
  padding: 10px;
}

input {
  margin: 5px;
}

div {
  margin-top: 10px;

}

#div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-direction: column;
  width: 100px;
}

#form-message {
  display: flex;
  justify-content: flex-start;
 
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
}

button {
  margin-top: 10px;
}
